
*{
    font-family: 'Roboto', sans-serif;
}
  

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 400px 600px 80px;}

.header1, .header2, .header3, .main, .cards{
    background-color: #F5F3EF;
}

.header1{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    height: 80px;

} 

.header1 a{
    text-decoration: none;
    padding-inline: 15px;
    color: black;
    font-weight: 500px;
    margin-bottom: 20px;

}

.text-content{
    display: flex;
    flex-direction: column;
}

.header2{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 20px;
} 

.header3{
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    height: 80px;
    margin-bottom: 20px;
} 

.header3 a{
    text-decoration: none;
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.line1, .line2, .line3{
    border: solid 1px black;
    display: none;
}


.header3 a{
    justify-items: flex-end;
    color: white;
    background-color: black;
    border-radius: 28px;
    border: none;
    width: 130px;
    height: 48px;
}

li{
    list-style: none;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F3EF;
}

.hamburger{
    display: none;
} 

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}

.nav-link:hover{
    color: #FEBD2F;
}

/******** MAIN ******/


.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto

} 

.main{
    grid-column: 1/4;
    padding-inline: 10px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2,1fr);
    /* flex-direction: column;
    flex-wrap: wrap; */
    /* justify-content: center; */
}


.main h2{
    text-align: center;
    font-size: 50px;
}

.main p{
    text-align: center;
    color: #646464;
    font-size: 24px;
}

/* .main h2, p{
    width: 45%;
    float: left;
} */


.main img{
    /* padding-top: 20px; */
    width: 100%;
    margin-bottom: 60px;
    align-self: center;
}

/****Cards****/

.cards{
    grid-column: 1/4;
    grid-template-rows: 3/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card2{
    width: 432px;
    height: 370px;
    background-color: #FEBD2F;
    margin: 5px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}


.card2 p{
    width: 80%;
    font-size: 45px;
    
}

.card1 h2{
    position: relative;
    bottom: 40px;
    
}

.card1 p{
    width: 80%;
    position: relative;
    font-size: 20px;
    z-index: 1;
    bottom: 45px;
    color: #646464;
}

.card1{
    width: 432px;
    background-color: white;
    margin: 5px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}


.card1 img{
    position: relative;
    left: 100px;
    top: -50px;

}

.card1 button{
    border-radius: 50px;
    background-color: white;
    height: 48px;
    width: 143px;
    position: relative;
    left: -30px;
    bottom: 32px;
    border: solid 1px #DCDCDC;
}

/******FOOTER*****/

.footer{
    background-color: #FEBD2F;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

@media (max-width: 830px) {

.header1{
    display: flex;
}

.main{
    grid-template-columns: 1fr;
}

/* .main > h2{
    width: 100%;
    text-align: center;
}

.main > p{
    text-align: center;

}


.main img{
    width: 650px;
    height: 420px;
} */

.card1, .card2{
    width: 332px;
}

.card1 img{
    position: relative;
    top: -30px;
}
}

@media (max-width: 700px) {

   /******HEADER******/

    
    .header2{
        justify-content: center;
        margin-left: 50px;
    }
    
    .header3 a{
        display: none;
    }
    
    /******* NAV-HEADER *******/
    
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        /* background-color: #fff; */
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 3.5rem 0;

    }

    .nav-menu:hover{
        background-color: #DCDCDC;

    }


    .hamburger{
        display: block;
        cursor: pointer;
    }

    /***************/

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*****************/
   
    /****MAIN****/

    .main p{
        width: 500px;
        align-items: center;
        text-align: center;
    }

    .main h2{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .main img{
        width: 500px;
        height: 350px;
    }

/*****  CARDS *****/


    .cards{
        justify-content: center;
    }

    .card1{
        display: flex;
        flex-direction: column;
    }

    .card1 img{
        position: relative;
        left: 80px;
        top: -35px;
    }

    .card1,.card2{
        width: 420px
    }

    .card2{
        height: 300px;
    }

}